RAG Chatbot(demo-1).json
{
  "name": "RAG Chatbot(demo-1)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1RCGvIwMJGp5fEcXS9eRacsiRgJGRNDYv",
          "mode": "list",
          "cachedResultName": "FAQs_n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1RCGvIwMJGp5fEcXS9eRacsiRgJGRNDYv"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -32
      ],
      "id": "aa01479c-b1d1-4579-82d4-adf70b2c80b4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SBRgfEWczjVo1or3",
          "name": "paarth21.ganesh@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        -32
      ],
      "id": "3682c0ef-5e23-4c57-a56c-99dd9984f6c3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SBRgfEWczjVo1or3",
          "name": "paarth21.ganesh@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo-gemini",
          "mode": "list",
          "cachedResultName": "n8n-demo-gemini"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        320,
        -32
      ],
      "id": "6326b7ce-cb46-4e80-a66f-6e743ac5f369",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "cR8rjJJxjrgO8Azp",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        464,
        176
      ],
      "id": "e49ad771-a6be-4a98-b80e-c261b700327b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        384
      ],
      "id": "e23005df-6dc8-4a75-9c2a-69fe18e4ce19",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        176
      ],
      "id": "51ed658a-48b3-43c0-b4d5-d6401ba83148",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "CFBIwTOOQdgZCXUL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        976,
        -32
      ],
      "id": "4325f71b-d3b8-4e5f-9c83-7c074cbe74e2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        848,
        176
      ],
      "id": "3e23786c-a754-412b-b850-d60d96260222",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "B1CogOwXxb1KfKW4",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        800,
        -32
      ],
      "id": "d4864d86-1ff2-49f5-a277-d40bd777b5f1",
      "name": "When chat message received",
      "webhookId": "f9cbbe13-b990-4739-a461-09a68da91755"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo-gemini",
          "mode": "list",
          "cachedResultName": "n8n-demo-gemini"
        },
        "topK": 6,
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1136,
        272
      ],
      "id": "189fdfda-7589-4039-a5e3-b76f84ef8311",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "cR8rjJJxjrgO8Azp",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        480
      ],
      "id": "fad8e3dd-0cb2-4934-970f-4a524a4d51d7",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "CFBIwTOOQdgZCXUL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b92b191-d54f-4d65-981a-f7ef015366b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa5b54595a1cb0c1214567a5d371b3b329926d1c35d05846660a845df823ebd0"
  },
  "id": "Fycd59K5THZU8866",
  "tags": []
}